<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <img src="~/Images/success2.png" />
    <h2>Successfully Cancelled</h2>
    <br />
    <br />
    <a class="active" asp-action="Home" asp-controller="Home" method="post">Back To Home</a>

</center>@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
